<launch>

  <arg name="cloud_topic" default="/hesai/pandar" />

  <node name="ground_segmentation" pkg="patchworkpp" type="demo_hilti" output="screen">
    <rosparam command="load" file="$(find patchworkpp)/config/params.yaml" />
    <param name="cloud_topic" type="string" value="$(arg cloud_topic)" />
  </node>

  <!--   <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find
  patchworkpp)/rviz/demo_newer_college.rviz"/> -->
  <node name="rivz_mapping" pkg="rviz" type="rviz"
    args="-d $(find curl_slam)/rviz/rviz_mapping.rviz" />

</launch>